body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*---------Top-nav---------*/

.top-nav {
  height: 60px;
}

.top-nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: rgb(38, 38, 38);
}

.top-nav li {
  display: inline-flex;
  padding: 8px;
}

/*---------Shop-Online---------*/

.section-content {
  width: inherit;
}

.Shop-online {
  background-color: #f5f5f7;
}

.Shop-online p {
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.Shop-online a {
  text-decoration: solid;
}

/*---------Section-1---------*/
