body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.top-nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: rgb(38, 38, 38);
}

.top-nav li {
  display: inline-flex;
  padding: 8px;
}
